@import 'materialize';
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

// variables
$font-stack: 'Roboto Mono', monospace, sans-serif;
$primary-color: #ffeb3b;
$primary-color-light: Snow;
$accent-color: #424242;



//general 
body {
  font-family: $font-stack;
  font-size: 1rem;
  background: $primary-color-light;
}

h1, h2, h3, h4, h5, h6 {
  // text-transform: uppercase;
  // text-decoration: underline;
}


// app styles
.app {
  @include materialize(row);
  position: relative;
  height: 100vh;

  .hero {
    @include materialize(col, l5, m4, hide-on-small-only, valign-wrapper, yellow);
    color: $primary-color-light;
    position: fixed;
    // top: 0;
    // left: 0;
    // bottom: 0;
    // display: block;
    height: 100%;
    padding-bottom: 10%;
    span {
      @include materialize(col, l10, offset-l1, center-align);
      font-size: 12rem;
      @media #{$medium-and-down} {
        font-size: 8rem;
        padding-left: 12%;
      }
    }
  }

  .content {
    @include materialize(col, l7, m8, s12, right);
    height: 100%;
    padding: 0;
  }
}


// navbar styles
%nav-container {
  @include materialize(nav-wrapper, transparent, z-depth-0)
}

.fullnav-container {
  @extend %nav-container;
  padding: 1% 2%;

  .fullnav {
    @include materialize(hide-on-small-only)
  }

  a {
    color: $accent-color;
    &:hover {
      text-decoration: underline;
    }
  }

  .active {
    text-decoration: underline;
  }

   // hide-on-med-and-up,
   .sidenav-trigger {
    @include materialize(right);
    color: $accent-color;
    cursor: pointer;
  }
}

.sidenav-container {
  @extend %nav-container;

  .active {
    text-decoration: underline;
  }
}