@import 'materialize';
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

// variables
$font-stack: 'Roboto Mono', monospace, sans-serif;
$primary-color: #ffeb3b;
$primary-color-light: Snow;
$accent-color: #424242;



//general 
body {
  font-family: $font-stack;
  font-size: 1rem;
  background: $primary-color-light;
}

h1, h2, h3, h4, h5, h6 {
  // text-transform: uppercase;
  // text-decoration: underline;
}


.app {
  @include materialize(row);
  position: relative;
  height: 100vh;

  .hero {
    @include materialize(col, l6, m4, hide-on-small-only, valign-wrapper, yellow, white-text);
    position: fixed;
    // top: 0;
    left: 0;
    // bottom: 0;
    // display: block;
    height: 100%;
    span {
      @include materialize(col, l10, offset-l1, center-align)
      font-size: 12rem;
    }
  }

  .content {
    @include materialize(col, l6, m8, s12, right);
    height: 100%;
  }
}


