@import 'materialize';
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

// variables
$font-stack: 'Roboto Mono', monospace, sans-serif;
$primary-color: #ffeb3b;
$primary-color-light: Snow;
$font-color: #424242;
$font-secondary-color: #a59292;
$secondary-color: #ba9d49;
$content-side-padding: 5%;


//general 
body {
  font-family: $font-stack;
  font-size: 1rem;
  background: $primary-color-light;
}

h1, h2, h3, h4, h5, h6 {
  // text-transform: uppercase;
  // text-decoration: underline;
}

h1 span {
  display: block;
  font-size: 50%;
  margin-bottom: 4rem;
}



// app styles
.app {
  @include materialize(row);
  position: relative;
  
  .hero {
    @include materialize(col, l5, m4, hide-on-small-only, valign-wrapper, yellow);
    color: $primary-color-light;
    position: fixed;
    // top: 0;
    // left: 0;
    // bottom: 0;
    // display: block;
    height: 100%;
    padding-bottom: 10%;
    span {
      @include materialize(col, l10, offset-l1, center-align);
      font-size: 12rem;
      @media #{$medium-and-down} {
        font-size: 8rem;
        padding-left: 12%;
      }
    }
  }

  .content {
    @include materialize(col, l7, m8, s12, right);
    padding: 0 $content-side-padding;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
}


// navbar styles
%nav-container {
  @include materialize(nav-wrapper, transparent, z-depth-0)
}

.fullnav-container {
  @extend %nav-container;

  .fullnav {
    @include materialize(hide-on-small-only)
  }

  a {
    color: $font-color;
    &:hover {
      text-decoration: underline;
    }
  }

  .active {
    text-decoration: underline;
  }

   // hide-on-med-and-up,
   .sidenav-trigger {
    @include materialize(right);
    color: $font-color;
    cursor: pointer;
  }
}

.sidenav-container {
  @extend %nav-container;

  .active {
    text-decoration: underline;
  }
}

// show menu button 
.show-menu-btn {
  display: block;
  position: fixed;
  right: $content-side-padding;
  top: 3%;
  z-index: 9998;
  width: 16px;
  height: 12px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
          transition: .5s ease-in-out;
  cursor: pointer;
}

.show-menu-btn:hover span {
  background: $secondary-color;
}

.show-menu-btn span {
  display: block;
  position: absolute;
  background: $font-color;
  height: 2px;
  width: 100%;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
          transition: .25s ease-in-out;
}

.show-menu-btn span:nth-child(1) {
  top: 0px;
}

.show-menu-btn span:nth-child(2) {
  top: 5px;
}

.show-menu-btn span:nth-child(3) {
  top: 10px;
  width: 12px;
}

.show-menu-btn.open span {
  background: $primary-color-light;
}

.show-menu-btn.open span:nth-child(1) {
  top: 6px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.show-menu-btn.open span:nth-child(2) {
  left: -60px;
  opacity: 0;
}

.show-menu-btn.open span:nth-child(3) {
  top: 6px;
  width: 100%;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

//footer styles
footer {
  @include materialize(page-footer, transparent, valign-wrapper, row);
  color: $font-color;
  margin: 0;

  .copyright {
    @include materialize(col, s6, left);
  }

  .external-links{
    @include materialize(col, s6, right, right-align);
  }

  a {
    color: $font-secondary-color;
    font-size: 1.5rem;
    margin-left: 1.2rem;
    // background: blue;
    &:hover {
      color: $font-color;
    }
  }

  .material-icons {
    font-size: 2.4rem;
  }
}