Hi <%= @name %>, <br /> <br />

Thanks for getting in touch. Here's a copy of the message as requested: <br /> <br />

<p><%= @body %></p>

<br />
<p>I'll get back to you soon.<p>

Regards, <br />
Chely
